* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}


.hide-add-book-form {
    display: none;
}

button {
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.book-list-div {
    padding: 20px 20px;
    background-color: white;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.app-title {
    background-color: blue;
    color: white;
    padding: 20px;
}

.book-list-title {
    margin-top: 0px;
    margin-bottom: 20px;
}

.add-book-btn {
    
}

/*.add-book-btn:hover {
    
}*/

.book-card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px 10px 30px 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-title {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.author, .pages, .read {
    margin: 15px 0;
}

.remove-book-btn, .toggle-read-btn {
    cursor: pointer;
}

/*.remove-book-btn:hover, .toggle-read-btn:hover {
    
}*/

/*.toggle-read-btn {
    
}*/

/*.toggle-read-btn:hover {
    
}*/

.submit-book-button {
    cursor: pointer;
}

/*.submit-book-button:hover {
    background-color: #45a049;
}*/

.book-list {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    gap: 20px;
}